# vcstool sub repositories (some of these aren't currently present)
src/user_interfacing
src/hardware_interfacing
src/autonomy
src/sim

# IDE files
.vscode
.editorconfig

# Build files
build
devel

# Miscellaneous
.catkin_workspace
src/CMakeLists.txt
venv

