##URC UDEV rules
# Use these for static pathing to attached devices
###################################################################
# Cameras
###################################################################
# 
# if the front facing camera on the lidar mount is plugged in it appears as
# 	/dev/urc/cam/front_cam
#
# if the right facing camera on the lidar mount is plugged in it appears as
# 	/dev/urc/cam/right_cam
#
# if the rear camera on the lidar mount is plugged in it appears as
# 	/dev/urc/cam/back_cam
#
# if the left camera on the lidar mount is plugged in it appears as
# 	/dev/urc/cam/left_cam
# 
# if the shoulder camera on the lift is plugged in it appears as
# 	/dev/urc/cam/shoulder_cam
# 
# if the wrist camera on the ES arm is plugged in it appears as
# 	/dev/urc/cam/wrist_cam
# 
###################################################################

# realsense cam
ATTRS{idProduct}=="0b07", ATTRS{idVendor}=="8086", SUBSYSTEM=="video4linux", ATTRS{serial}=="818413020905", ATTR{index}=="0", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="urc/cam/realsense_1"
ATTRS{idProduct}=="0b07", ATTRS{idVendor}=="8086", SUBSYSTEM=="video4linux", ATTRS{serial}=="129523022174", ATTR{index}=="0", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="urc/cam/realsense_2"
ATTRS{idProduct}=="0b07", ATTRS{idVendor}=="8086", SUBSYSTEM=="video4linux", ATTRS{serial}=="125123025322", ATTR{index}=="0", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="urc/cam/realsense_3"
ATTRS{idProduct}=="0b07", ATTRS{idVendor}=="8086", SUBSYSTEM=="video4linux", ATTRS{serial}=="818413020275", ATTR{index}=="0", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="urc/cam/realsense_4"

# All the logitech cameras we own
ATTRS{idProduct}=="082d", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="964C715F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_01"

ATTRS{idProduct}=="082d", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="3E6C715F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_02"

ATTRS{idProduct}=="082d", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="5BDF76DF", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_03"

ATTRS{idProduct}=="082d", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="E3EA715F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_04"

ATTRS{idProduct}=="08b6", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="66637D8F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_05"

ATTRS{idProduct}=="08b6", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="8165FD8F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_06"

ATTRS{idProduct}=="0825", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="E80A0330", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_07"

ATTRS{idProduct}=="0825", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="8A9C60B0", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_08"

ATTRS{idProduct}=="0825", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="D0A5D230", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_09"

ATTRS{idProduct}=="08b6", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="D4427D8F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_10"

ATTRS{idProduct}=="08b6", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="4AB7FD8F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_11"

ATTRS{idProduct}=="08b6", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="C684DD8F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_12"

ATTRS{idProduct}=="0825", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="2F0B6230", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_13"

ATTRS{idProduct}=="085e", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="DF4039E5", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_14"

ATTRS{idProduct}=="082d", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="E3BC715F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_15"

ATTRS{idProduct}=="08b6", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="EAE0DD8F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_16"

ATTRS{idProduct}=="08b6", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="4F22DD8F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_17"

ATTRS{idProduct}=="0825", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="F0A5B210", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_18"

ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="1FC2D07F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_19"

ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="0322917F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_20"

ATTRS{idProduct}=="08e5", ATTRS{idVendor}=="046d", SUBSYSTEM=="video4linux", ATTRS{serial}=="94A6505F", ATTR{index}=="0", SYMLINK+="urc/cam/logitech_21"

# Science cams
ATTRS{idProduct}=="9520", ATTRS{idVendor}=="05a3", SUBSYSTEM=="video4linux", ATTR{name}=="HD USB Camera", ATTR{index}=="0", SYMLINK+="urc/cam/microcam_01"

ATTRS{idProduct}=="0871", ATTRS{idVendor}=="a168", SUBSYSTEM=="video4linux", ATTR{name}=="Dino-Lite Premier: Dino-Lite Pr", ATTR{index}=="0", SYMLINK+="urc/cam/microscope_01"

# Fisheye cam
ATTRS{idProduct}=="0426", ATTRS{idVendor}=="040a", SUBSYSTEM=="video4linux", ATTRS{serial}=="13800000411", ATTR{index}=="0", SYMLINK+="urc/cam/fisheye"

# micro cam
ATTRS{idProduct}=="6366", ATTRS{idVendor}=="0c45", SUBSYSTEM=="video4linux", ATTRS{serial}=="UC684", ATTR{index}=="0", SYMLINK+="urc/cam/micro_cam"
