<launch>
	<!-- launch gamepad control -->
	<include file="$(find gamepad_input)/launch/gamepad.launch">
		<arg name="cmd_vel_topic" value="/cmd_vel"/>
		<arg name="selected_mode_topic" value="/selected_mode"/>
		<arg name="enabled_service" value="/gamepad_enabled"/>
		<arg name="drive_forward_service" value="/drive_forward"/>
		<arg name="car_style_turning_service" value="/car_style_turning"/>
		<arg name="device_path" value="/dev/urc/js/gamepad"/>
		<arg name="turbo_multiplier" value="1"/>
		<arg name="base_multiplier" value="0.5"/>
		<arg name="min_linear_speed" value="-2"/>
		<arg name="max_linear_speed" value="2"/>
		<arg name="min_angular_speed" value="-2"/>
		<arg name="max_angular_speed" value="2"/>
	</include>
</launch>
