<launch>

	<!-- Launch the can master -->
	<include file="$(find can_master)/launch/can_master.launch"/>

	<!-- launch wanderer's drivebase -->
	<include file="$(find wanderer_drivebase_interfacing)/launch/drivebase.launch">
		<arg name="cmd_vel_topic" value="/cmd_vel"/>
		<arg name="min_linear_speed" value="-2"/>
		<arg name="max_linear_speed" value="2"/>
		<arg name="min_angular_speed" value="-2"/>
		<arg name="max_angular_speed" value="2"/>
	</include>

	<!-- launch the cameras -->
	<include file="$(find theora_webcams)/launch/cameras.launch"/>

	<!-- launch wanderer's localization -->
	<include file="$(find pixhawk_localization)/launch/pixhawk.launch">
		<arg name="device_path" value="/dev/urc/mtc/pixhawk"/>
		<arg name="local_position_topic" value="/current_pose"/>
		<arg name="global_position_topic" value="/current_global_pose"/>
	</include>
</launch>
