<launch>

	<!-- launch arm control -->
	<include file="$(find hockey_stick_arm)/launch/arm_control.launch">
		<arg name="joy_dev" value="/dev/urc/js/thor"/>
	</include>

	<!-- Launch the can master -->
	<include file="$(find can_master)/launch/can_master.launch"/>

	<!-- launch wanderer's arm -->
	<include file="$(find hockey_stick_arm)/launch/full_arm.launch">
		<arg name="joy_topic" value="/arm/joy"/>
	</include>

	<!-- drivebase and path planner args -->
	<arg name="cmd_vel_topic" default="/cmd_vel"/>

	<!-- launch wanderer's drivebase -->
	<include file="$(find wanderer_drivebase_interfacing)/launch/drivebase.launch">
		<arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
		<arg name="min_linear_speed" value="-2"/>
		<arg name="max_linear_speed" value="2"/>
		<arg name="min_angular_speed" value="-2"/>
		<arg name="max_angular_speed" value="2"/>
	</include>

	<!-- launch gamepad control -->
	<include file="$(find gamepad_input)/launch/gamepad.launch">
		<arg name="cmd_vel_topic" value="/cmd_vel"/>

		<arg name="selected_mode_topic" value="/selected_mode"/>
		<arg name="enabled_service" value="/teleop_enabled"/>
		<arg name="drive_forward_service" value="/drive_forward"/>
		<arg name="car_style_turning_service" value="/car_style_turning"/>

		<arg name="device_path" value="/dev/urc/js/astro"/>
		<arg name="turbo_multiplier" value="1"/>
		<arg name="base_multiplier" value="0.5"/>
		<arg name="min_linear_speed" value="-2"/>
		<arg name="max_linear_speed" value="2"/>
		<arg name="min_angular_speed" value="-2"/>
		<arg name="max_angular_speed" value="2"/>
	</include>


</launch>