<launch>
	<!-- launch the gui -->
	<include file="$(find wanderer_gui)/launch/base.launch">
		<arg name="local_position_topic" value="/current_pose"/>
		<arg name="global_position_topic" value="/current_global_pose"/>
		<arg name="global_origin_topic" value="/global_origin"/>
		<arg name="drive_forward_service" value="/drive_forward"/>
		<arg name="car_style_turning_service" value="/car_style_turning"/>
	</include>

	<!-- Launch the can master -->
	<include file="$(find can_master)/launch/can_master.launch"/>

	<!-- launch the science payload -->
	<include file="$(find science_servo_control)/launch/sci_servos.launch"/>

	<!-- launch the spectrometer -->
	<include file="$(find ocean_optics_spectrometer)/launch/spectrometer.launch">
		<arg name="spectrometer_service" value="/spectrometer"/>
		<arg name="device_sn" value="S14413"/>
	</include>

	<!-- launch the cameras -->
	<include file="$(find theora_webcams)/launch/cameras.launch"/>
</launch>
