<launch>
	<!-- launch usb_cam and aruco_detect for all the wanderer cameras -->
	<!-- keep in sync with aruco_finder launch below -->
	<include file="$(find wanderer_missions)/launch/components/aruco_usb_cam.launch">
		<arg name="camera_name" value="logitech_11"/>
		<arg name="tf_args" value="0.010 -0.420 0.015 -3.140 0.000 -1.570"/>
		<arg name="tf_parent" value="base_link"/>
		<arg name="fiducial_len" value="0.14"/>
	</include>
	<include file="$(find wanderer_missions)/launch/components/aruco_usb_cam.launch">
		<arg name="camera_name" value="logitech_19"/>
		<arg name="tf_args" value="0.050 -0.090 0.015 -1.570 0.000 -1.570"/>
		<arg name="tf_parent" value="base_link"/>
		<arg name="fiducial_len" value="0.14"/>
	</include>
	<include file="$(find wanderer_missions)/launch/components/aruco_usb_cam.launch">
		<arg name="camera_name" value="logitech_20"/>
		<arg name="tf_args" value="0.010 0.210 0.015 0.000 0.000 -1.570"/>
		<arg name="tf_parent" value="base_link"/>
		<arg name="fiducial_len" value="0.14"/>
	</include>
	<include file="$(find wanderer_missions)/launch/components/aruco_usb_cam.launch">
		<arg name="camera_name" value="logitech_05"/>
		<arg name="tf_args" value="-0.330 -0.010 -0.020 -1.570 0.000 1.570"/>
		<arg name="tf_parent" value="base_link"/>
		<arg name="fiducial_len" value="0.14"/>
	</include>

	<!-- launch the aruco_finder for all the wanderer cameras -->
	<include file="$(find aruco_finder)/launch/aruco_finder.launch">
		<arg name="found_marker_list_topic" value="/found_marker_list"/>
		<arg name="clear_markers_service" value="/clear_found_markers"/>
		<arg name="camera_namespaces" value="[cameras/logitech_11, cameras/logitech_19, cameras/logitech_20, cameras/logitech_05]"/>
		<arg name="parent_frame" value="base_link"/>
	</include>
</launch>
