<launch>
	<arg name="width" default="1280"/>
	<arg name="height" default="720"/>
	<arg name="framerate" default="10"/>
	<arg name="device" default="/dev/video0"/>

	<!-- launch the usb cam to get video feed -->
	<node name="webcam" pkg="usb_cam" type="usb_cam_node"
		output="screen" respawn="false" ns="cameras">
		<param name="video_device" value="$(arg device)"/>
		<param name="image_width" value="$(arg width)"/>
		<param name="image_height" value="$(arg height)"/>
		<param name="framerate" value="$(arg framerate)"/>
		<param name="pixel_format" value="yuyv"/>
		<param name="camera_frame_id" value="webcam"/>
		<param name="camera_name" value="webcam"/>
		<param name="io_method" value="mmap"/>
	</node>
</launch>

<!-- get supported formats with the following command -->
<!-- replace ** with *dash* *dash* -->
<!-- sudo v4l2-ctl -d /dev/video0 **list-formats-ext -->
