<launch>
	<arg name="namespace" default="camera"/>
	<arg name="tf_args" default="0 0 0 0 0 0"/> <!-- x y z yaw pitch roll -->
	<arg name="tf_parent" default="base_link"/>
	<arg name="tf_child" default="camera"/>
	<arg name="fiducial_len" default="0.014"/>
	<arg name="camera_compressed_topic" default="camera/compressed"/>
	<arg name="camera_info_topic" default="camera_info"/>

	<node pkg="tf" type="static_transform_publisher"
		name="static_transform_publisher" ns="$(arg namespace)"
		args="$(arg tf_args) $(arg tf_parent) $(arg tf_child) 100"
	/>

	<node pkg="aruco_detect" type="aruco_detect"
		name="aruco_detect" ns="$(arg namespace)"
		output="log" respawn="false">
		<param name="image_transport" value="compressed"/>
		<param name="publish_images" value="false"/>
		<param name="publish_fiducial_tf" value="true"/>
		<param name="fiducial_len" value="$(arg fiducial_len)"/>
		<param name="dictionary" value="0"/>
		<param name="do_pose_estimation" value="true"/>
		<param name="ignore_fiducials" value=""/>
		<param name="fiducial_len_override" value=""/>
		<remap from="camera/compressed" to="$(arg camera_compressed_topic)"/>
		<remap from="camera_info" to="$(arg camera_info_topic)"/>
	</node>

</launch>
