<launch>
	<!-- launch the gui -->
	<include file="$(find wanderer_gui)/launch/base.launch">
		<arg name="local_position_topic" value="/current_pose"/>
		<arg name="global_position_topic" value="/current_global_pose"/>
		<arg name="global_origin_topic" value="/global_origin"/>
		<arg name="marker_list_topic" value="/marker_list"/>
		<arg name="state_topic" value="/state"/>
		<arg name="planner_status_topic" value="/planner_status"/>
		<arg name="select_planner_service" value="/select_planner"/>
		<arg name="pid_planner_name" value="pid_planner"/>
		<arg name="dwa_planner_name" value="dwa_planner"/>
		<arg name="pid_planner_enabled_service" value="/pid_planner_enabled"/>
		<arg name="dwa_planner_enabled_service" value="/dwa_planner_enabled"/>
		<arg name="pid_planner_status_topic" value="/pid_planner_status"/>
		<arg name="dwa_planner_status_topic" value="/dwa_planner_status"/>
		<arg name="found_marker_list_topic" value="/found_marker_list"/>
		<arg name="add_marker_service" value="/add_marker"/>
		<arg name="clear_markers_service" value="/clear_markers"/>
		<arg name="reorder_marker_service" value="/reorder_marker"/>
		<arg name="reorder_markers_service" value="/reorder_markers"/>
		<arg name="edit_marker_service" value="/edit_marker"/>
		<arg name="remove_marker_service" value="/remove_marker"/>
		<arg name="insert_marker_service" value="/insert_marker"/>
		<arg name="clear_found_markers_service" value="/clear_found_markers"/>
		<arg name="drive_forward_service" value="/drive_forward"/>
		<arg name="car_style_turning_service" value="/car_style_turning"/>
	</include>
</launch>
